<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config></context:annotation-config>
  <context:property-placeholder location="classpath:mysql-info-connection"/>

  <bean id="india" class="com.india.Tourisom.India">
    <property name="touristPlace" ref="mumbai"/>

  </bean>


  <bean id="mumbai" class="com.india.Tourisom.Mumbai" />

  <bean id="delhi" class="com.india.Tourisom.Delhi"/>

  <bean id="human" class="com.india.Tourisom.Person.Human" autowire="constructor"/>

  <bean id="heartqq" class="com.india.Tourisom.Person.Heart" />

  <bean id="mysql" class="com.india.Tourisom.MysqlConnectionProject.Mysql" />





</beans>

